.titulo {
    font-family: 'Press Start 2P', sans-serif;
    font-size: 34px;
    color: #F25A70;
    text-shadow: 4px 4px 0px #000;
}

.titulo.-secundario {
    color: #FFF;
    text-align: center;
    text-shadow: none;
}