.box-banner {
    display: inline-block;
    background-color: #3A4042;
    box-shadow: 5px 5px 0px #000;
    text-align: center;
    padding: 35px;
}

.box-banner .main-title {
    margin-bottom: 30px;
}