
.main-banned {   
    box-sizing: border-box;
    background: url(../../assets/img/photo.jpg);
    background-position: center;
    background-size: 100%;
    height: 800px;
    border-bottom: 10px solid #000;
    padding-top: 115px;
    padding-left: 90px;
}

.main-banned .wrapper {
    display: flex;
    flex-direction: column;
    width: 600px;
}

.main-banned .box-banner {
    margin-bottom: 20px;
}



.main-banned .navigation {
    display: flex;
    justify-content: space-around;
}

.main-banned .botao {
    background-color: #F25A70;
}

.main-banned .botao:hover {
    transform: scale(1.1);
    background-color: aqua;
    box-shadow: 10px 10px 3px black;
}
